body{
	font-family: 'Open Sans', sans-serif;
	margin:0;
	background-color: #f2f2f2;
}
.wrapper{
	width: 100%;
}
.sectionOne{
	width: 8%;
	background-color: #2a2f31;
	background: url('../images/col-bg.png') repeat;
	position: fixed;
	height: 100vh;
	display: block;
}
.sectionTwo{
	width: 90%;
	float: right;
	padding-left: 15px;
	background-color: #f2f2f2;
	min-height: 700px;
}
.listWrapper{
	list-style: none;
}
.listWrapper>li{
	}
.listWrapper>li>a{
	text-decoration: none;
	cursor: pointer;
}
input[type=text] {
    width: 98%;
    box-shadow: 0 0 1px rgba(0,0,0,0.25);
    border: none;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-size: 14px;
    display: block;
}
input[type=text]:hover{
	box-shadow: 0 1px 10px rgba(0,0,0,0.25);
	transition: all 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 98%%;
    outline: none;
    box-shadow: 0 1px 10px rgba(0,0,0,0.25);
    transition: all 0.4s ease-in-out;
}
label{
	margin-right: 20px;
}
.searchWrapper{
	width: 96%;
    margin-left: 20px;
}
.searchBar{
	height: 40px;
    margin: 20px;
    padding: 5px 0;
    padding-left: 20px;
    margin-left: 0;
}
.checkboxWrapper{
	margin: 20px;
	font-size: 14px;
}

.searchResults{
	box-shadow: 0 0 1px rgba(0,0,0,0.25);
	margin: 20px;
	width: 96%;
	min-height: 200px;
	background-color: #fff;
}
.result-item{
	list-style: none;
    border-bottom: 1px solid #f5f5f5;
    border-left: 2px solid #e5e5e5;
    padding-left: 50px;
    padding-bottom: 20px;
    position: relative;
    padding-top: 20px;
}
.stamp{
	position: absolute;
	top: 50px;
	left: -20px;
}
.tl-icon{
	background-color: #3CB1E6;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-block;
	box-shadow: 0 -2px 0 rgba(255, 255, 255, 0.8);
}
.date{
	background-color: #d3d3d3;
    padding: 2px 5px;
    border-radius: 0;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
}
.result-item > h3{
	font-size: 16px;
	margin: 15px 0;
}
.result-item >p {
	font-size: 14px;
	font-weight: 300;
	margin: 9px 0;

}
.rightSideContent{
	transition: all 0.4s ease-in-out;
}
.rightSideContent:hover{
	transform: translateY(-2px);
	transition: all 0.4s ease-in-out;
}
.rightSideContent h3{
	font-size: 14px;
	margin: 15px 0;
	color: #333;
}
.rightSideContent p{
	font-size: 13px;
	font-weight: 300;
	margin: 4px 0;
	color: #808080
}
.author{
	color: #808080!important;
    text-decoration: underline;
}
.discussion-text{
	width: 420px;
}
.download{
	text-decoration: underline;
	color: #0099cc;
	font-size: 12px;
	display: block;
	cursor: pointer;
	text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.02rem;
    margin: 4px 0;
}
.showmoreBtn{
	width: 97%;
    height: 30px;
    background-color: #d3d3d3;
    border: none;
    margin-left: 20px;

}
.btnwrapper{
	padding: 20px 10px 20px 0px;
    border-left: 2px solid #e5e5e5;
    margin-left: 40px;
}
.results{
	margin-bottom: 0;
}
.result-stat{
	font-size: 16px;
    color: #333;
    margin: 5px 0 5px 20px;
}
p.tag{
	background: #757575;
    display: inherit;
    color: #fff;
    padding: 1px 5px;
}
/*.content{
	width: 100%;
}*/
.desc{
	display: inline-block;
	padding: 10px;
}
.imgOnLeft > img {
	width: 32px;
    height: 41px;
    vertical-align: top;
    margin-top: 15px;
}

.userImage > img{
	border-radius: 60%;
	vertical-align: top;
	margin-top: 15px;
}
.menu{
	padding:0;
}
.menu-item , .menu-display{
	list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #191919;
    box-shadow: 0 1px 0 rgba(255,255,255,0.2);
    transition: all .3s ease-in-out;
    position: relative;
}
.menu-icons{
	background: #616260;
    height: 60px;
    width: 60px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #343431;
}

li.active{
	background-color: #f2f2f2;
	border-left: 4px solid #16AA4A;
}

li.active .menu-icons{
	background: #3CB1E6;
	border: none;
}

li.menu-item:hover .menu-icons{
	background: #3CB1E6;
	transition: all .3s ease-in-out;
}
li.menu-item:hover .addNew{
	background: #16AA4A;
	transition: all .3s ease-in-out;
}
li.menu-item:hover .icons{
	font-size: 26px;
	transition: all .3s ease-in-out;
}
.icons{
	opacity: 0.5;
    font-size: 24px;
    padding: 17px;
    line-height: 60px !important;
    text-decoration: none !important;
    transition: all 0.4s ease-in-out;
}
.tl-icon-set{
	padding: 10px;
    font-size: 18px;
    line-height: 40px!important;
    font-weight: 800!important;
}
.addNew{
	background: #616260;
    border-radius: 70%;
    height: 25px;
    width: 25px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 35px;
    z-index: -1;
    transition: all .3s ease-in-out;
}
.icon-plus{
	font-size: 11px;
    padding: 5px;
    position: absolute;
    top: -21px;
    right: 1px;
    line-height: 60px !important;
    opacity: 0.5;
}
a:-webkit-any-link{
  color: transparent;
}
#document,#notification,#progressSection,#serachSection,#calendar{
	text-align: center;
	padding-top: 100px;
	font-size: 28px;
	font-weight: 300;
}

.centralContent{
	width: 97%;
	box-shadow: 0 0 1px rgba(0,0,0,0.3);
	min-height: 300px;
}

.centralContent h3{
	font-size: 24px;
	color: #333;
	padding-top: 50px;
}

.centralContent p{
	font-size: 18px;
	color: #333;
}

.centralContent span{
	font-size: 16px;
}

/* Hamburger manu */
.navigation {
	display: none;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212121;
    box-shadow: 0 4px 4px -3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 4px 4px -3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 4px 4px -3px rgba(0,0,0,0.3);
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
}

.navigation a {
    text-decoration: none;
    color: #fff;
}

.navigation ul {
    margin-top:30px;
    text-align:center;
    list-style:none; 
    margin-left:auto;
    margin-right:auto;
}


.menulist {
    width:200px;
    padding-left: 0;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:#fff;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:#fff;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:#fff;
  top:-7px;
}

.menuitems {
    padding-top:12px;
    padding-bottom:12px;
    text-decoration: none;
    list-style:none; 
    font-weight: 300;
    font-size: 16px;
    display: inline-block;
    position:relative;	
    text-align:center;
    color: #fff;
    opacity:0.0;
    transition: all .5s ease-in-out;
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .2s;
}

.menuitems:hover::after {
    width:100%;
}

#closebtn {
    height:25px;
    width:25px;	
    position: absolute;
    text-decoration:none;
    top: 10px;
    left: 25px;
    font-size: 36px !important;
    margin-right: 50px;
    z-index:100;
    color:#fff;
    cursor:pointer;
    trainsition:background-position .3s;
}

#main {	
    transition: margin-top .4s;
    text-align:center;
    margin:auto;
    font-size:30px;
}/* end */
.cb-group{
	display: inline-block;
}